@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Caveat", cursive;
}

body {
  margin: 0;
  background-color: #222222;
  color: #e5e5e5;
}
